<form method="post">
    <div class="form-group ">
        <label>Top Category</label>
        <select name="categories[parent_id]" class="form-control">
            {% if activeCat is defined %}
                <optgroup label="ACTIVE CATEGORY">
                    <option value="{{ activeCat.id }}">{{ activeCat.title }}</option>
                </optgroup>
            {% endif %}
            <optgroup label="CATEGORIES TO SELECT">
                <option value="0">Main Category</option>
                {% for x in catlist %}
                    <option value="{{ x.id }}">{{ x.title }}</option>
                {% endfor %}
            </optgroup>
        </select>

    </div>
    <div class="form-group ">
        <label>Title</label>
        <input type="text" class="form-control" name="categories[title]" value="{{ category.title }}" placeholder="Title">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="categories[description]"  value="{{ category.description }}" placeholder="description">
    </div>
    <div class="form-group">
        <label> Keywords</label>
        <input type="text" class="form-control" name="categories[keywords]" value="{{ category.keywords }}" placeholder="Keywords">
    </div> 
    <div class="form-group">
        <label> Active Status</label>
        <select name="categories[status]" class="form-control">
            <option>{{ category.status }}</option>
            <option>True</option>
            <option>False</option>
        </select>
    </div>

    <div class="row col-md-12">
        <div class="col-md-6 form-group">
            <a href="{{ path('admin_categories_index') }}" class="btn btn-primary btn-block"><span
                        class="glyphicon glyphicon-arrow-left"> </span> Back to List</a>
        </div>
        <div class="col-md-6 form-group">
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-check"></span> Save
            </button>
        </div>
    </div>
</form>